absl-py
astor
bleach
bottle
click
certifi
chardet
flask
future
gast
grpcio
gunicorn
h5py
html5lib
itsdangerous
idna
Jinja2
line-bot-sdk
matplotlib
Markdown
MarkupSafe
numpy
oauthlib
opencv-python
pandas
pillow
protobuf
PyYAML
python-dotenv
requests
scipy
scikit-learn
six
seaborn
tensorboard
tensorflow
termcolor
urllib3
Werkzeug